/* App.css */
/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  
}

h1 {
  color: #333;
  text-align: center;
}

p {
  font-size: 1.5rem;
  color: #666;
  text-align: center;
 
}

button {
  font-size: 1rem;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}


